extends layout
block content
    h1 Formulaire d'inscription
    form(action='/register' method="post")
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1")
                    i(class="fas fa-envelope-square")
            input(type="hidden" name="csrf" value=token)
            input(type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" name="email")
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1")
                    i(class="fas fa-unlock-alt")
            input(type="password" class="form-control" placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="basic-addon1" name="password" pattern="(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$")
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1")
                    i(class="fas fa-venus-mars")
            input(type="text" class="form-control" placeholder="Monsieur" aria-label="Monsieur" aria-describedby="basic-addon1" name="civility")
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1")
                    i(class="fas fa-user")
            input(type="text" class="form-control" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1" name="lastname")
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1")
                    i(class="fas fa-user")
            input(type="text" class="form-control" placeholder="Prénom" aria-label="Prenom" aria-describedby="basic-addon1" name="firstname")
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1")
                    i(class="fas fa-phone")
            input(type="text" class="form-control" placeholder="Téléphone" aria-label="Téléphone" aria-describedby="basic-addon1" name="phone")
        row(class="justify-content-center")
            div(class="col-2")
                button.btn.btn-primary(type="submit") Enregistrer

        